.privacy {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #fff;
  line-height: 1.5;
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-weight: 300;
      font-size: 35px;
      color: #555;
    }
    p {
      color: #2a3c4c;
    }
  }
}
