.phone {
  position: relative;
  padding: 7px 11px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #d9d9d9;
  transition: all 0.2s;
  color: rgba(0, 0, 0, 0.88);
  overflow: hidden;
  &:hover {
    border-color: #7d5dfe;
  }
  span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  input {
    width: 100%;
    color: rgba(0, 0, 0, 0.88);
    padding-left: 35px;
    &:hover {
      border-color: #7d5dfe;
    }
    &::placeholder {
      font-size: 15px;
      font-weight: 400;
      color: #bfbfbf;
    }
  }
}
